@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		/* from https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff */
		url('Roboto_300.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src:
		local('Roboto Light Italic'),
		local('Roboto-LightItalic'),
		/* from https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsI.woff */
		url('Roboto_300i.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff */
		url('Roboto_400.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src:
		local('Roboto Italic'),
		local('Roboto-Italic'),
		/* from https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzQ.woff */
		url('Roboto_400i.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
		local('Roboto Medium'),
		local('Roboto-Medium'),
		/* from https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff */
		url('Roboto_500.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src:
		local('Roboto Medium Italic'),
		local('Roboto-MediumItalic'),
		/* from https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsI.woff */
		url('Roboto_500i.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Bold'),
		local('Roboto-Bold'),
		/* from https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff */
		url('Roboto_700.woff') format('woff');
}
