@font-face {
	font-family: 'Aprikas';
	font-style: normal;
	font-weight: 300;
	src: url('Aprikas_light_Demo.otf') format('opentype');
}

@font-face {
	font-family: 'Aprikas';
	font-style: normal;
	font-weight: 400;
	src: url('Aprikas_Regular_Demo.otf') format('opentype');
}

@font-face {
	font-family: 'Aprikas';
	font-style: italic;
	font-weight: 400;
	src: url('Aprikas_italic_Demo.otf') format('opentype');
}

@font-face {
	font-family: 'Aprikas';
	font-style: normal;
	font-weight: 700;
	src: url('Aprikas_bold_Demo.otf') format('opentype');
}