<!doctype html>
<html lang="fr" ng-app="BreizhcampRoom">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width - initial-scale=1 - shrink-to-fit=no">

	<script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-locale_fr-fr.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/style.css">

	<title>Breizhcamp - Programme par salle</title>
</head>

<body ng-controller="ScheduleController">

<video autoplay="" muted="" loop="" poster="videos/programming-ide.jpg" class="bgVideo">
	<source src="videos/programming-ide.webm" type="video/webm">
	<source src="videos/programming-ide.mp4" type="video/mp4">
	<source src="videos/programming-ide.ogv" type="video/ogg">
</video>

<div class="container-fluid">
	<!-- Logo + hour + time -->
	<div class="row align-items-center header">
		<div class="col logo">
			<img src="img/logo-inverse.svg" alt="BreizhCamp">
		</div>

		<div class="col-2 text-center"><h1 class="display-1 font-weight-bold">{{time}}</h1></div>

		<div class="col text-right"><h1 class="display-4 font-weight-bold text-uppercase">{{longDate}}</h1></div>
	</div>

	<!-- Current session -->
	<div class="row session-list-title no-gutters" ng-show="onAirTalks.length > 0">
		<div class="col"><div class="row"><div class="col">En cours</div></div></div>
	</div>

	<div class="row no-gutters justify-content-around align-items-stretch" ng-show="onAirTalks.length > 0">
		<div class="col d-flex flex-column justify-content-between session" ng-repeat="talk in onAirTalks">
			<div class="row">
				<div class="col session-room" ng-show="talk.venue.startsWith('Amphi')">Amphi <span>{{talk.venue.substr(-1, 1)}}</span></div>
				<div class="col session-room" ng-hide="talk.venue.startsWith('Amphi')">{{talk.venue}}</div>
				<div class="col-auto session-time">Fin {{talk.event_end.split('T')[1].substr(0,5)}}</div>
			</div>
			<div class="row">
				<div class="col session-title">{{talk.name}}</div>
			</div>

			<div class="row">
				<div class="col session-speakers">{{talk.speakers}}</div>
			</div>
		</div>
	</div>


	<!-- Next session -->
	<div class="row session-list-title no-gutters mt-5" ng-show="nextTalks.length > 0">
		<div class="col"><div class="row"><div class="col">À suivre</div></div></div>
	</div>

	<div class="row no-gutters justify-content-around align-items-stretch" ng-show="nextTalks.length > 0">
		<div class="col d-flex flex-column justify-content-between session" ng-repeat="talk in nextTalks">
			<div class="row">
				<div class="col session-room" ng-show="talk.venue.startsWith('Amphi')">Amphi <span>{{talk.venue.substr(-1, 1)}}</span></div>
				<div class="col session-room" ng-hide="talk.venue.startsWith('Amphi')">{{talk.venue}}</div>
				<div class="col-auto session-time">Début {{talk.event_start.split('T')[1].substr(0,5)}}</div>
			</div>
			<div class="row">
				<div class="col session-title">{{talk.name}}</div>
			</div>

			<div class="row">
				<div class="col session-speakers">{{talk.speakers}}</div>
			</div>
		</div>
	</div>

</div>

<script src="js/app.js"></script>
<script src="js/Markdown.Converter.js"></script>
<script src="js/Markdown.Sanitizer.js"></script>
</body>
</html>